<%= form_for(@customer) do |itr_frm| %>
	<%= render "shared/errorsuser", object: @customer %>

	<fieldset>
		<ol>
			<li class="required">
				<%= itr_frm.label :firstname %>
				<%= itr_frm.text_field :firstname, autofocus: true, size: 30 %>
			</li>
			<li class="required">
				<%= itr_frm.label :lastname %>
				<%= itr_frm.text_field :lastname, size: 20 %>
			</li>
			<li class="required">
				<%= itr_frm.label :email %>
				<%= itr_frm.email_field :email, size: 50 %>
			</li>
			<li class="required">
				<%= itr_frm.label :password %>
				<%= itr_frm.password_field :password, minlength: 7, size: 40  %>
			</li>
			<li>
				<%= itr_frm.label :password_confirmation, "Confirm Password" %>
				<%= itr_frm.password_field :password_confirmation, minlength: 7, size: 40 %>
			</li>
		</ol>
	</fieldset>

	<% if @customer.new_record? %>
		<%= itr_frm.submit "Create Account" %> 
	<% else %>
		<%= itr_frm.submit "Update Account" %>
	<% end %>
<% end %>