<h1> Editing <%= @product.name%> </h1>

<%= render "products/form" %>

<%#
<%= form_for(@product) do |itr_edit| % >
	<p>
		<%= itr_edit.label :name % >
		<%= itr_edit.text_field :name % >
	</p>

	<p>
		<%= itr_edit.label :price % >
		<%= itr_edit.text_field :price % >
	</p>

	<p>
		<%= itr_edit.label :description % >
		<%= itr_edit.text_field :description % >
	</p>

	<p>
		<%= itr_edit.label :status % >
		<%= itr_edit.text_field :status % >
	</p>

	<p>
		<%= itr_edit.submit % >
	</p>
<% end % >
#%>